.initial-hide{
  display: none;
}
.center-text{
  text-align: center;
  color: black;
}
body{
  height: 100%;
  width: 100%;
  background: url('../img/download.jpg');

}
.btn-dark{
  color: white;
  background: black;
}
