.initial-hide{
  display: none;
}
.center-text{
  text-align: center;
  color: #800000;
  font-weight: bold;
}

.btn-dark{
  color: white;
  background: black;
}
.well{
  background: url('../img/download.jpg')
}
.border{
  border: 2px dotted #800000
}
